In [3]:
import sys
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Tool")
from cn_general_tool import *

In [4]:
df = pd.DataFrame(pd.date_range(start='1990-01-01', end='2025-12-31', freq='D'), columns=['date'])
df['date'] = pd.to_datetime(df['date'])
df

            date
0     1990-01-01
1     1990-01-02
2     1990-01-03
3     1990-01-04
4     1990-01-05
...          ...
13144 2025-12-27
13145 2025-12-28
13146 2025-12-29
13147 2025-12-30
13148 2025-12-31

[13149 rows x 1 columns]

In [5]:
df["dt_year"]      = df["date"].dt.year.astype(str)
df["dt_quarter"]   = df["date"].dt.to_period("Q").apply(lambda x: f"{x.year}{x.quarter:02}")
df["dt_month"]     = df["date"].dt.to_period("M").apply(lambda x: f"{x.year}{x.month:02}")
df["dt_fortnight"] = df["date"].apply(lambda x: f"{x.year}{((x.dayofyear - 1) // 14) + 1:02}")
df["dt_week"]      = df["date"].dt.strftime('%Y%U')
df["dt_day"]       = df["date"].dt.strftime("%Y%m%d")

df["is_year_start_trade"]      = (df["dt_year"] != df["dt_year"].shift(1)).astype(int)
df["is_year_end_trade"]        = (df["dt_year"] != df["dt_year"].shift(-1)).astype(int)

df["is_quarter_start_trade"]   = (df["dt_quarter"] != df["dt_quarter"].shift(1)).astype(int)
df["is_quarter_end_trade"]     = (df["dt_quarter"] != df["dt_quarter"].shift(-1)).astype(int)

df["is_month_start_trade"]     = (df["dt_month"] != df["dt_month"].shift(1)).astype(int)
df["is_month_end_trade"]       = (df["dt_month"] != df["dt_month"].shift(-1)).astype(int)

df["is_fortnight_start_trade"] = (df["dt_fortnight"] != df["dt_fortnight"].shift(1)).astype(int)
df["is_fortnight_end_trade"]   = (df["dt_fortnight"] != df["dt_fortnight"].shift(-1)).astype(int)

df["is_week_start_trade"]      = (df["dt_week"] != df["dt_week"].shift(1)).astype(int)
df["is_week_end_trade"]        = (df["dt_week"] != df["dt_week"].shift(-1)).astype(int)

df["is_year_start_order"]      = df["is_year_start_trade"].shift(-1, fill_value=0)
df["is_year_end_order"]        = df["is_year_end_trade"].shift(-1, fill_value=0)

df["is_quarter_start_order"]   = df["is_quarter_start_trade"].shift(-1, fill_value=0)
df["is_quarter_end_order"]     = df["is_quarter_end_trade"].shift(-1, fill_value=0)

df["is_month_start_order"]     = df["is_month_start_trade"].shift(-1, fill_value=0)
df["is_month_end_order"]       = df["is_month_end_trade"].shift(-1, fill_value=0)

df["is_fortnight_start_order"] = df["is_fortnight_start_trade"].shift(-1, fill_value=0)
df["is_fortnight_end_order"]   = df["is_fortnight_end_trade"].shift(-1, fill_value=0)

df["is_week_start_order"]      = df["is_week_start_trade"].shift(-1, fill_value=0)
df["is_week_end_order"]        = df["is_week_end_trade"].shift(-1, fill_value=0)

df['day_of_quarter_nature_trade']   = df['date'].apply(lambda x: (x - x.to_period('Q').start_time).days + 1)
df['day_of_year_nature_trade']      = df['date'].apply(lambda x: (x - x.to_period('Y').start_time).days + 1)
df['day_of_month_nature_trade']     = df['date'].apply(lambda x: x.day)
df['day_of_fortnight_nature_trade'] = df['date'].apply(lambda x: ((x.dayofyear - 1) % 14) + 1)
df['day_of_week_nature_trade']      = df['date'].dt.dayofweek + 1 

df['day_of_quarter_nature_order']   = df['day_of_quarter_nature_trade'].shift(-1, fill_value=0)
df['day_of_year_nature_order']      = df['day_of_year_nature_trade'].shift(-1, fill_value=0)
df['day_of_month_nature_order']     = df['day_of_month_nature_trade'].shift(-1, fill_value=0)
df['day_of_fortnight_nature_order'] = df['day_of_fortnight_nature_trade'].shift(-1, fill_value=0)

df["day_of_year_trading_trade"]      = df.groupby("dt_year").cumcount() + 1
df["day_of_quarter_trading_trade"]   = df.groupby("dt_quarter").cumcount() + 1
df["day_of_month_trading_trade"]     = df.groupby("dt_month").cumcount() + 1
df["day_of_fortnight_trading_trade"] = df.groupby("dt_fortnight").cumcount() + 1
df["day_of_week_trading_trade"]      = df.groupby("dt_week").cumcount() + 1

df["day_of_year_trading_order"]      = df["day_of_year_trading_trade"].shift(-1, fill_value=0)
df["day_of_quarter_trading_order"]   = df["day_of_quarter_trading_trade"].shift(-1, fill_value=0)
df["day_of_month_trading_order"]     = df["day_of_month_trading_trade"].shift(-1, fill_value=0)
df["day_of_fortnight_trading_order"] = df["day_of_fortnight_trading_trade"].shift(-1, fill_value=0)
df["day_of_week_trading_order"]      = df["day_of_week_trading_trade"].shift(-1, fill_value=0)

In [6]:
df

,date,dt_year,dt_quarter,dt_month,dt_fortnight,dt_week,dt_day,is_year_start_trade,is_year_end_trade,is_quarter_start_trade,...,day_of_year_trading_trade,day_of_quarter_trading_trade,day_of_month_trading_trade,day_of_fortnight_trading_trade,day_of_week_trading_trade,day_of_year_trading_order,day_of_quarter_trading_order,day_of_month_trading_order,day_of_fortnight_trading_order,day_of_week_trading_order
0,1990-01-01,1990,199001,199001,199001,199000,19900101,1,0,1,...,1,1,1,1,1,2,2,2,2,2
1,1990-01-02,1990,199001,199001,199001,199000,19900102,0,0,0,...,2,2,2,2,2,3,3,3,3,3
2,1990-01-03,1990,199001,199001,199001,199000,19900103,0,0,0,...,3,3,3,3,3,4,4,4,4,4
3,1990-01-04,1990,199001,199001,199001,199000,19900104,0,0,0,...,4,4,4,4,4,5,5,5,5,5
4,1990-01-05,1990,199001,199001,199001,199000,19900105,0,0,0,...,5,5,5,5,5,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13144,2025-12-27,2025,202504,202512,202526,202551,20251227,0,0,0,...,361,88,27,11,7,362,89,28,12,1
13145,2025-12-28,2025,202504,202512,202526,202552,20251228,0,0,0,...,362,89,28,12,1,363,90,29,13,2
13146,2025-12-29,2025,202504,202512,202526,202552,20251229,0,0,0,...,363,90,29,13,2,364,91,30,14,3
13147,2025-12-30,2025,202504,202512,202526,202552,20251230,0,0,0,...,364,91,30,14,3,365,92,31,1,4
13148,2025-12-31,2025,202504,202512,202527,202552,20251231,0,1,0,...,365,92,31,1,4,0,0,0,0,0

In [5]:
# Save to DAI
ds = dai.DataSource("mldt_cn_trading_calendar")
def update_df(df_new):
    df_new = df
    return df_new
ds.apply_bdb(update_df, as_type=pd.DataFrame)

dai.DataSource.write_bdb(
    data=df,
    id="mldt_cn_trading_calendar",
    unique_together=["date"],
    indexes=["date"],
)

dai.DataSource("mldt_cn_trading_calendar")