# CN Stock Factor VPTA (4)

In [1]:
import sys
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Tool")
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Factor")
from cn_general_tool import *
from cn_general_factors_vpta import *

In [2]:
sd, ed = get_sd_ed('2024-11-25', '2024-11-25')

## 3. Technical Factors

### 3.2 Volume Indicators

#### VMA

In [3]:
alpha_vpta_VMA(sd, ed, n=5, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_VMA_5
0    2024-11-25  603220.SH        14355791.6
1    2024-11-25  603272.SH         2236932.0
2    2024-11-25  603278.SH        37561129.8
3    2024-11-25  603308.SH        14728388.6
4    2024-11-25  603320.SH         2876026.4
...         ...        ...               ...
5364 2024-11-25  836942.BJ         3058985.4
5365 2024-11-25  837748.BJ         2220362.0
5366 2024-11-25  872351.BJ        10072992.8
5367 2024-11-25  873703.BJ         2837373.8
5368 2024-11-25  920088.BJ         3255117.8

[5369 rows x 3 columns]

#### VMACD

In [4]:
alpha_vpta_VMACD(sd, ed, n_short=13, n_long=26, n_signal=9, data_base="cn_stock_bar1d")

,date,instrument,alpha_vpta_VMACD_DIF_13_26_9,alpha_vpta_VMACD_DEA_13_26_9,alpha_vpta_VMACD_HIST_13_26_9
0,2024-11-25,000019.SZ,-1.149817e+06,-8.945962e+05,-2.552206e+05
1,2024-11-25,000058.SZ,-4.975604e+06,-1.552725e+06,-3.422878e+06
2,2024-11-25,000060.SZ,-8.070690e+06,-4.533174e+06,-3.537516e+06
3,2024-11-25,000061.SZ,1.175362e+06,3.908500e+05,7.845124e+05
4,2024-11-25,000404.SZ,-2.875693e+06,-1.820519e+06,-1.055174e+06
...,...,...,...,...,...
5364,2024-11-25,836720.BJ,-4.936575e+05,7.885992e+05,-1.282257e+06
5365,2024-11-25,838670.BJ,1.108361e+05,2.347116e+05,-1.238755e+05
5366,2024-11-25,870199.BJ,-9.152405e+04,-8.074968e+04,-1.077437e+04
5367,2024-11-25,872541.BJ,2.504943e+05,1.035908e+06,-7.854137e+05
5368,2024-11-25,873693.BJ,-4.483464e+05,-2.044676e+04,-4.278996e+05

#### VOSC

In [5]:
alpha_vpta_VOSC(sd, ed, n_short = 13, n_long=26, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_VOSC_13_26
0    2024-11-25  603201.SH             -38.498824
1    2024-11-25  603203.SH             -10.772490
2    2024-11-25  603211.SH              35.079679
3    2024-11-25  603213.SH               3.155965
4    2024-11-25  603215.SH              24.188634
...         ...        ...                    ...
5364 2024-11-25  836942.BJ              -6.398082
5365 2024-11-25  837748.BJ             -36.338370
5366 2024-11-25  872351.BJ              -6.684960
5367 2024-11-25  873703.BJ             -21.180716
5368 2024-11-25  920088.BJ                    NaN

[5369 rows x 3 columns]

#### VR

In [6]:
alpha_vpta_VR(sd, ed, n=26, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_VR_VR_26
0    2024-11-25  000008.SZ             1.827937
1    2024-11-25  000070.SZ             1.328349
2    2024-11-25  000530.SZ             2.580809
3    2024-11-25  000543.SZ             1.149111
4    2024-11-25  000557.SZ             0.791498
...         ...        ...                  ...
5364 2024-11-25  871970.BJ             1.102943
5365 2024-11-25  872895.BJ             1.490727
5366 2024-11-25  873122.BJ             1.217815
5367 2024-11-25  873593.BJ             2.050021
5368 2024-11-25  873690.BJ             1.397864

[5369 rows x 3 columns]

#### VROC

In [7]:
alpha_vpta_VROC(sd, ed, n1=12, n2=6, data_base="cn_stock_bar1d")

,date,instrument,alpha_vpta_VROC_VROC_12_6,alpha_vpta_VROC_VMAROC_12_6
0,2024-11-25,000004.SZ,-0.380656,-0.527716
1,2024-11-25,000032.SZ,-0.383044,-0.243848
2,2024-11-25,000090.SZ,-0.571148,-0.238122
3,2024-11-25,000410.SZ,-0.495742,-0.709477
4,2024-11-25,000417.SZ,0.429546,0.159675
...,...,...,...,...
5364,2024-11-25,870299.BJ,-0.465497,-0.204487
5365,2024-11-25,870866.BJ,-0.681251,0.104834
5366,2024-11-25,871753.BJ,-0.548378,-0.012620
5367,2024-11-25,872374.BJ,-0.142830,-0.470376
5368,2024-11-25,872953.BJ,-0.354570,0.133308

#### VRSI

In [8]:
alpha_vpta_VRSI(sd, ed, n=6, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_VRSI_VRS_6  alpha_vpta_VRSI_VRSI_6
0    2024-11-25  000001.SZ               0.940445               48.465433
1    2024-11-25  000546.SZ               1.774062               63.951782
2    2024-11-25  000561.SZ               0.895721               47.249615
3    2024-11-25  000620.SZ               0.811118               44.785501
4    2024-11-25  000627.SZ               1.297721               56.478607
...         ...        ...                    ...                     ...
5364 2024-11-25  836942.BJ               0.690198               40.835318
5365 2024-11-25  837748.BJ               1.168195               53.878691
5366 2024-11-25  872351.BJ               1.513055               60.207795
5367 2024-11-25  873703.BJ               3.386043               77.200406
5368 2024-11-25  920088.BJ               0.216454               17.793876

[5369 rows x 4 columns]

#### VSTD

In [10]:
alpha_vpta_VSTD(sd, ed, n=5, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_VSTD_5
0    2024-11-25  000021.SZ       1.804167e+07
1    2024-11-25  000049.SZ       4.324451e+06
2    2024-11-25  000407.SZ       5.322570e+06
3    2024-11-25  000513.SZ       2.102210e+06
4    2024-11-25  000548.SZ       1.988064e+07
...         ...        ...                ...
5364 2024-11-25  836942.BJ       1.299539e+06
5365 2024-11-25  837748.BJ       3.106068e+05
5366 2024-11-25  872351.BJ       4.973224e+06
5367 2024-11-25  873703.BJ       1.038054e+06
5368 2024-11-25  920088.BJ       9.081352e+05

[5369 rows x 3 columns]