# CN Stock Factor VPTA (1)

In [37]:
import sys
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Tool")
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Factor")
from cn_general_tool import *
from cn_general_factors_vpta import *

In [38]:
sd, ed = get_sd_ed('2024-11-25', '2024-11-25')

## 1. N-Period Moving Statistics

### 1.1 Simple Moving Statistics

#### N-Period Moving Average

In [39]:
alpha_vpta_mavg(sd, ed, col="close", n=5, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_mavg_close_5
0    2024-11-25  301302.SZ                30.699000
1    2024-11-25  301313.SZ                22.943867
2    2024-11-25  301358.SZ                51.990191
3    2024-11-25  301377.SZ                20.597928
4    2024-11-25  301510.SZ                27.304136
...         ...        ...                      ...
5364 2024-11-25  836720.BJ               110.271355
5365 2024-11-25  838670.BJ                41.263193
5366 2024-11-25  870199.BJ               134.271553
5367 2024-11-25  872541.BJ                51.606185
5368 2024-11-25  873693.BJ                52.586545

[5369 rows x 3 columns]

#### N-Period Moving Summation

In [40]:
alpha_vpta_msum(sd, ed, col="close", n=5, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_msum_close_5
0    2024-11-25  301361.SZ               133.504619
1    2024-11-25  301373.SZ               138.031112
2    2024-11-25  301392.SZ               353.916054
3    2024-11-25  301448.SZ               145.247197
4    2024-11-25  301503.SZ               170.313722
...         ...        ...                      ...
5364 2024-11-25  836942.BJ               152.475568
5365 2024-11-25  837748.BJ               130.517805
5366 2024-11-25  872351.BJ                76.398137
5367 2024-11-25  873703.BJ               195.535097
5368 2024-11-25  920088.BJ               149.890000

[5369 rows x 3 columns]

#### N-Period Moving Standard Deviation

In [41]:
alpha_vpta_mstd(sd, ed, col="close", n=5, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_mstd_close_5
0    2024-11-25  301280.SZ                 2.032285
1    2024-11-25  301296.SZ                 0.970356
2    2024-11-25  301306.SZ                 1.620980
3    2024-11-25  301321.SZ                 0.654785
4    2024-11-25  301349.SZ                 1.466636
...         ...        ...                      ...
5364 2024-11-25  871970.BJ                 1.069309
5365 2024-11-25  872895.BJ                 2.742357
5366 2024-11-25  873122.BJ                 2.294559
5367 2024-11-25  873593.BJ                 4.943980
5368 2024-11-25  873690.BJ                 1.237435

[5369 rows x 3 columns]

#### N-Period Moving Variance

In [42]:
alpha_vpta_mvar(sd, ed, col="close", n=5, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_mvar_close_5
0    2024-11-25  603682.SH                 0.005894
1    2024-11-25  603688.SH                 2.271402
2    2024-11-25  603716.SH                 1.434330
3    2024-11-25  603721.SH                 0.978334
4    2024-11-25  603726.SH                 1.171595
...         ...        ...                      ...
5364 2024-11-25  871970.BJ                 0.914738
5365 2024-11-25  872895.BJ                 6.016418
5366 2024-11-25  873122.BJ                 4.212001
5367 2024-11-25  873593.BJ                19.554348
5368 2024-11-25  873690.BJ                 1.224997

[5369 rows x 3 columns]

#### N-Period Moving Skewness

In [43]:
alpha_vpta_mskw(sd, ed, col="close", n=10, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_mskw_close_10
0    2024-11-25  000016.SZ                  0.283920
1    2024-11-25  000030.SZ                  0.013119
2    2024-11-25  000050.SZ                  0.239028
3    2024-11-25  000065.SZ                 -0.330206
4    2024-11-25  000301.SZ                  1.480107
...         ...        ...                       ...
5364 2024-11-25  836942.BJ                  0.754334
5365 2024-11-25  837748.BJ                  0.398838
5366 2024-11-25  872351.BJ                  1.442935
5367 2024-11-25  873703.BJ                  0.555724
5368 2024-11-25  920088.BJ                  1.880284

[5369 rows x 3 columns]

#### N-Period Moving Kurtosis

In [44]:
alpha_vpta_mkrt(sd, ed, col="close", n=10, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_mkrt_close_10
0    2024-11-25  301526.SZ                 -1.328729
1    2024-11-25  301552.SZ                 -0.535320
2    2024-11-25  430198.BJ                  0.557067
3    2024-11-25  430476.BJ                 -1.285983
4    2024-11-25  430556.BJ                 -0.735135
...         ...        ...                       ...
5364 2024-11-25  871970.BJ                 -0.357167
5365 2024-11-25  872895.BJ                  0.251659
5366 2024-11-25  873122.BJ                 -0.598926
5367 2024-11-25  873593.BJ                 -0.763297
5368 2024-11-25  873690.BJ                 -1.194366

[5369 rows x 3 columns]

#### N-Period Moving Covariance

In [45]:
alpha_vpta_mcov(sd, ed, col1="close", col2="volume", n=10, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_mcov_close_volume_10
0    2024-11-25  000036.SZ                     1.266620e+07
1    2024-11-25  000158.SZ                    -2.444448e+07
2    2024-11-25  000166.SZ                     3.070767e+06
3    2024-11-25  000506.SZ                     2.338224e+07
4    2024-11-25  000519.SZ                     4.387285e+07
...         ...        ...                              ...
5364 2024-11-25  871970.BJ                     1.156125e+06
5365 2024-11-25  872895.BJ                     2.070535e+06
5366 2024-11-25  873122.BJ                     4.010760e+06
5367 2024-11-25  873593.BJ                     5.738333e+06
5368 2024-11-25  873690.BJ                     2.722022e+05

[5369 rows x 3 columns]

#### N-Period Moving Correlation

In [46]:
alpha_vpta_mcor(sd, ed, col1="close", col2="volume", n=10, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_mcor_close_volume_10
0    2024-11-25  000019.SZ                         0.161133
1    2024-11-25  000058.SZ                         0.682973
2    2024-11-25  000060.SZ                         0.626445
3    2024-11-25  000061.SZ                         0.750208
4    2024-11-25  000404.SZ                         0.496502
...         ...        ...                              ...
5364 2024-11-25  836720.BJ                         0.861276
5365 2024-11-25  838670.BJ                         0.707059
5366 2024-11-25  870199.BJ                         0.890286
5367 2024-11-25  872541.BJ                         0.612853
5368 2024-11-25  873693.BJ                         0.652894

[5369 rows x 3 columns]

#### N-Period Moving Maximum

In [47]:
alpha_vpta_mmax(sd, ed, col="close", n=10, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_mmax_close_10
0    2024-11-25  000021.SZ                327.613252
1    2024-11-25  000049.SZ                250.181601
2    2024-11-25  000407.SZ                 39.259082
3    2024-11-25  000513.SZ                371.916634
4    2024-11-25  000548.SZ                 23.394537
...         ...        ...                       ...
5364 2024-11-25  871970.BJ                 17.100503
5365 2024-11-25  872895.BJ                 33.316659
5366 2024-11-25  873122.BJ                 77.565095
5367 2024-11-25  873593.BJ                125.533828
5368 2024-11-25  873690.BJ                 24.953401

[5369 rows x 3 columns]

#### N-Period Moving Minimum

In [48]:
alpha_vpta_mmin(sd, ed, col="close", n=10, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_mmin_close_10
0    2024-11-25  603601.SH                 46.420786
1    2024-11-25  603618.SH                 17.159118
2    2024-11-25  603636.SH                 51.682022
3    2024-11-25  603655.SH                 21.787363
4    2024-11-25  603667.SH                 25.325600
...         ...        ...                       ...
5364 2024-11-25  871970.BJ                 14.536514
5365 2024-11-25  872895.BJ                 26.728731
5366 2024-11-25  873122.BJ                 63.838688
5367 2024-11-25  873593.BJ                108.179327
5368 2024-11-25  873690.BJ                 22.024548

[5369 rows x 3 columns]

### 1.2 Moving Regression Coefficients

#### N-Period Regression Slope with Window

In [49]:
alpha_vpta_regr_slope_with_window(sd, ed, col="close", n=20, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_regr_slope_close_window_20
0    2024-11-25  000006.SZ                              -3.059058
1    2024-11-25  000011.SZ                              -0.162038
2    2024-11-25  000027.SZ                              -0.085148
3    2024-11-25  000029.SZ                              -0.228847
4    2024-11-25  000066.SZ                               2.249176
...         ...        ...                                    ...
5364 2024-11-25  871970.BJ                               0.081393
5365 2024-11-25  872895.BJ                               0.234209
5366 2024-11-25  873122.BJ                               0.570140
5367 2024-11-25  873593.BJ                               2.006355
5368 2024-11-25  873690.BJ                               0.189655

[5369 rows x 3 columns]

#### N-Period Regression Intercept with Window

In [50]:
alpha_vpta_regr_intercept_with_window(sd, ed, col="close", n=20, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_regr_intercept_close_window_20
0    2024-11-25  688499.SH                                  17.286377
1    2024-11-25  688508.SH                                  46.000999
2    2024-11-25  688512.SH                                   5.321271
3    2024-11-25  688538.SH                                   2.568925
4    2024-11-25  688549.SH                                   9.010808
...         ...        ...                                        ...
5364 2024-11-25  871970.BJ                                  13.241417
5365 2024-11-25  872895.BJ                                  22.125343
5366 2024-11-25  873122.BJ                                  50.166832
5367 2024-11-25  873593.BJ                                  48.729027
5368 2024-11-25  873690.BJ                                  17.367600

[5369 rows x 3 columns]

#### N-Period Regression R2 with Window

In [51]:
alpha_vpta_regr_r2_with_window(sd, ed, col="close", n=20, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_regr_r2_close_window_20
0    2024-11-25  605069.SH                            0.235481
1    2024-11-25  605088.SH                            0.782883
2    2024-11-25  605098.SH                            0.445261
3    2024-11-25  605287.SH                            0.192785
4    2024-11-25  605338.SH                            0.008324
...         ...        ...                                 ...
5364 2024-11-25  871970.BJ                            0.170866
5365 2024-11-25  872895.BJ                            0.344064
5366 2024-11-25  873122.BJ                            0.554116
5367 2024-11-25  873593.BJ                            0.503096
5368 2024-11-25  873690.BJ                            0.398088

[5369 rows x 3 columns]

#### N-Period Regression Residual (last value in series) with Window

In [52]:
alpha_vpta_regr_resid_with_window(sd, ed, col="close", n=20, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_regr_resid_close_window_20
0    2024-11-25  600850.SH                             -15.855525
1    2024-11-25  600887.SH                            -114.075215
2    2024-11-25  600906.SH                              -0.321790
3    2024-11-25  600917.SH                              -0.044540
4    2024-11-25  600928.SH                              -0.157328
...         ...        ...                                    ...
5364 2024-11-25  871970.BJ                              -0.162655
5365 2024-11-25  872895.BJ                               0.886422
5366 2024-11-25  873122.BJ                              -4.391205
5367 2024-11-25  873593.BJ                             -12.748448
5368 2024-11-25  873690.BJ                              -0.064498

[5369 rows x 3 columns]

#### N-Period General Regression Slope

In [53]:
alpha_vpta_regr_slope(sd, ed, col1="close", col2="volume", n=20, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_regr_slope_close_volume_20
0    2024-11-25  000007.SZ                           1.852990e-07
1    2024-11-25  000037.SZ                           5.837739e-08
2    2024-11-25  000040.SZ                           3.640004e-09
3    2024-11-25  000100.SZ                           7.390505e-10
4    2024-11-25  000498.SZ                           3.239453e-08
...         ...        ...                                    ...
5364 2024-11-25  836942.BJ                           6.822687e-07
5365 2024-11-25  837748.BJ                           7.272204e-07
5366 2024-11-25  872351.BJ                           3.540409e-07
5367 2024-11-25  873703.BJ                           3.814221e-07
5368 2024-11-25  920088.BJ                           4.202100e-07

[5369 rows x 3 columns]

#### N-Period General Regression Intercept

In [54]:
alpha_vpta_regr_intercept(sd, ed, col1="close", col2="volume", n=20, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_regr_intercept_close_volume_20
0    2024-11-25  000021.SZ                                 288.857616
1    2024-11-25  000049.SZ                                 222.245487
2    2024-11-25  000407.SZ                                  35.483981
3    2024-11-25  000513.SZ                                 361.961193
4    2024-11-25  000548.SZ                                  17.679284
...         ...        ...                                        ...
5364 2024-11-25  871970.BJ                                  14.631357
5365 2024-11-25  872895.BJ                                  26.427749
5366 2024-11-25  873122.BJ                                  60.839542
5367 2024-11-25  873593.BJ                                  94.836477
5368 2024-11-25  873690.BJ                                  22.242553

[5369 rows x 3 columns]

#### N-Period General Regression R2

In [55]:
alpha_vpta_regr_r2(sd, ed, col1="close", col2="volume", n=20, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_regr_r2_close_volume_20
0    2024-11-25  605366.SH                            0.169182
1    2024-11-25  605598.SH                            0.410373
2    2024-11-25  688002.SH                            0.635646
3    2024-11-25  688015.SH                            0.176762
4    2024-11-25  688031.SH                            0.688378
...         ...        ...                                 ...
5364 2024-11-25  871970.BJ                            0.131461
5365 2024-11-25  872895.BJ                            0.252921
5366 2024-11-25  873122.BJ                            0.198213
5367 2024-11-25  873593.BJ                            0.139271
5368 2024-11-25  873690.BJ                            0.026960

[5369 rows x 3 columns]

#### N-Period General Regression Residual (last value in series)

In [56]:
alpha_vpta_regr_resid(sd, ed, col1="close", col2="volume", n=20, data_base="cn_stock_bar1d")

           date instrument  alpha_vpta_regr_resid_close_volume_20
0    2024-11-25  601339.SH                               0.095262
1    2024-11-25  601398.SH                              -0.018743
2    2024-11-25  601609.SH                              -0.050653
3    2024-11-25  601666.SH                              -0.416783
4    2024-11-25  601718.SH                              -0.035408
...         ...        ...                                    ...
5364 2024-11-25  871970.BJ                               1.015767
5365 2024-11-25  872895.BJ                               3.266464
5366 2024-11-25  873122.BJ                               3.728564
5367 2024-11-25  873593.BJ                              12.931209
5368 2024-11-25  873690.BJ                               2.013138

[5369 rows x 3 columns]