# CN Stock Factor VPTA (6)

In [1]:
import sys
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Tool")
sys.path.append("/home/aiuser/work/userlib/BigQuant_Resources_Collection/BigQuant_Resources_Collection/00_General_Resources/General_Factor")
from cn_general_tool import *
from cn_general_factors_vpta import *

In [2]:
sd, ed = get_sd_ed('2024-11-25', '2024-11-25')

## 3. Technical Factors

### 3.4 Security-Index Indicators

#### RPS

In [3]:
alpha_vpta_RPS(sd, ed, n=6, data_base="cn_stock_bar1d", data_index="cn_stock_index_bar1d", index_id="000300.SH")

           date instrument  alpha_vpta_RPS_RPS_6
0    2024-11-25  000016.SZ            233.040058
1    2024-11-25  000030.SZ            -68.222651
2    2024-11-25  000050.SZ            162.192007
3    2024-11-25  000065.SZ            270.867613
4    2024-11-25  000301.SZ            376.233346
...         ...        ...                   ...
5364 2024-11-25  873122.BJ              7.878934
5365 2024-11-25  873593.BJ            296.030448
5366 2024-11-25  873690.BJ           -203.202010
5367 2024-11-25  873806.BJ           -186.514733
5368 2024-11-25  920016.BJ             23.320580

[5369 rows x 3 columns]

#### MSI

In [4]:
alpha_vpta_MSI(sd, ed, n=6, data_base="cn_stock_bar1d", data_index="cn_stock_index_bar1d", index_id="000300.SH")

           date instrument  alpha_vpta_MSI_MSI_6
0    2024-11-25  603163.SH              0.833333
1    2024-11-25  603180.SH              0.833333
2    2024-11-25  603285.SH              0.666667
3    2024-11-25  603299.SH              0.500000
4    2024-11-25  603311.SH              0.833333
...         ...        ...                   ...
5364 2024-11-25  871970.BJ              0.500000
5365 2024-11-25  872895.BJ              0.666667
5366 2024-11-25  873122.BJ              0.500000
5367 2024-11-25  873593.BJ              0.833333
5368 2024-11-25  873690.BJ              0.666667

[5369 rows x 3 columns]

#### PSI

In [5]:
alpha_vpta_PSI(sd, ed, n=6, data_base="cn_stock_bar1d", data_index="cn_stock_index_bar1d", index_id="000300.SH")

           date instrument  alpha_vpta_PSI_PSI_6
0    2024-11-25  000021.SZ              0.000000
1    2024-11-25  000049.SZ              0.333333
2    2024-11-25  000407.SZ              0.666667
3    2024-11-25  000513.SZ              0.000000
4    2024-11-25  000548.SZ              0.666667
...         ...        ...                   ...
5364 2024-11-25  871970.BJ              0.666667
5365 2024-11-25  872895.BJ              0.333333
5366 2024-11-25  873122.BJ              0.666667
5367 2024-11-25  873593.BJ              0.333333
5368 2024-11-25  873690.BJ              0.333333

[5369 rows x 3 columns]

#### PWI

In [6]:
alpha_vpta_PSI(sd, ed, n=6, data_base="cn_stock_bar1d", data_index="cn_stock_index_bar1d", index_id="000300.SH")

           date instrument  alpha_vpta_PSI_PSI_6
0    2024-11-25  000010.SZ              0.333333
1    2024-11-25  000028.SZ              0.333333
2    2024-11-25  000059.SZ              0.666667
3    2024-11-25  000157.SZ              0.333333
4    2024-11-25  000338.SZ              0.000000
...         ...        ...                   ...
5364 2024-11-25  836720.BJ              0.333333
5365 2024-11-25  838670.BJ              0.666667
5366 2024-11-25  870199.BJ              0.333333
5367 2024-11-25  872541.BJ              0.333333
5368 2024-11-25  873693.BJ              0.000000

[5369 rows x 3 columns]